.content {
    width: 66vw;
    margin: 0px auto;
    margin-top: 2vh;
    text-align: left;
    margin-bottom: 20vh;
}

.content footer {
    width: 100%;
    height: 40px;
    text-align: center;

    transform: translateY(16vh);
}

.content footer a {
    text-decoration: none;
    color: var(--small-text-color);
    font-family: monospace;
    line-height: 40px;
}